<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodisgod.mapper.FoodUserMapper">

	<!--买家注册 -->
	<insert id="saveFoodUser" parameterType="com.foodisgod.pojo.FoodUser">
		insert into food_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="buyerNick != null">
				buyer_nick,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="createdTime != null">
				created_time,
			</if>
			<if test="updatedTime != null">
				updated_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="buyerNick != null">
				#{buyerNick,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="createdTime != null">
				#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedTime != null">
				#{updatedTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<!--买家登录根据用户名查找用户 -->
	<select id="findFoodUserByUsername" resultType="FoodUser">
		select * from
		food_user where username=#{username}
	</select>
	<!--根据用户id查找用户 -->
	<select id="findFoodUserByUserId" resultType="FoodUser">
		select * from
		food_user where user_id=#{userId}
	</select>

	<!--更新用户信息 -->
	<update id="updateFoodUser">
		update food_user set
		username=#{username},
		password=#{password},
		buyer_nick=#{buyerNick},
		phone=#{phone},
		email=#{email},
		updated_time=#{updatedTime}
		where user_id=#{userId}
	</update>






</mapper>
